---
layout: default
title: Home
---
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | ordinal }}</time>
    {{ post.excerpt }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" title="Previous" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fa fa-arrow-left" aria-hidden="true" style="color:#585858"></i>
</a>
  {% else %}
    <span class="pagination-item older"><i class="fa fa-arrow-left" aria-hidden="true" style="color:#E6E6E6"></i></span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" title="Next" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fa fa-arrow-right" aria-hidden="true" style="color:#585858"></i>
</a>
  {% else %}
    <span class="pagination-item newer"><i class="fa fa-arrow-right" aria-hidden="true" style="color:#E6E6E6"></i>
</span>
  {% endif %}
</div>
