---
layout: default
title: Home
---
<div class="posts">
<article class="post">

{% for post in paginator.posts %}
<h1 class="post-title">
<a href="{{post.url | prepend: site.baseurl}}">
{{ post.title }}</a></h1>

<time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | ordinal }}</time>

{% assign num_comments = site.data.comments[post.slug].size %}

{% if num_comments >= 1 %}
<div class="pagination-comments"><a class="normal" href="{{ post.url | absolute_url }}#comments"><i class="icon icon-comments-o" title="Comments"></i>&nbsp;{{ num_comments }}</a></div>
{% endif %}
{{ post.excerpt }}
</article>
{% endfor %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
  {% else %}
    <span>Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
  {% else %}
    <span>Next</span>
  {% endif %}
</div>

</div>
{% endif %}
