<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

<script src="/../../../js/reply-to-comment.js"></script>
<script src="/../../../js/jquery-3.2.1.slim.min.js"></script>

{% assign comments = site.data.comments[page.slug] | sort_comments,"name" %}

{% if comments %}
    {% if comments.size > 1 %}
    <h3>{{ comments | size }} Comments</h3>
    {% endif %}
    
    {% if comments.size == 1 %}
    <h3>1 Comment</h3>
    {% endif %}

   {% for comment in comments %}
    <legend><h4>{{ comment.name }}</h4></legend>
    
    <legend>
    <span class="smaller">
    <time datetime="{{ comment.date | date_to_xmlschema }}" class="post-date">{{ comment.date | date: "%m/%d/%y" }}</time>
    </span>
    </legend>
    {{ comment.message | markdownify | whitelist | censor}}
    
    {% if comment.depth < '3' %}
    <div class="append-comment-reply-form">
    <div class="comment-reply" style="cursor:pointer;">
    
    <a class="normal" id="{{ comment[1]._id }}" onclick="reply(id)">
    <i class="fa fa-reply" aria-hidden="true"></i>&nbsp;Reply to {{ comment.name }}</a>
    </div>
    <div class="close-reply">
    <a class="normal" onclick="closeReply();">
    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Close</a>
    </div>
    </div>
    {% endif %}
  {% endfor %}
  
  <div id="append-comment-form">
  {% include submit_comment.html %}
  </div>
{% endif %}
