<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

{% if site.data.comments[page.slug] %}
    {% if site.data.comments[page.slug].size > 1 %}
    <h3>{{ site.data.comments[page.slug] | size }} Comments</h3>
    {% endif %}
    
    {% if site.data.comments[page.slug].size == 1 %}
    <h3>1 Comment</h3>
    {% endif %}
	
  {% assign comments = site.data.comments[page.slug] | sort %}

  {% for comment in comments %}
    <legend><h4>{{ comment[1].name }}</h4></legend>
    
    <legend>
    <span class="smaller">
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ comment[1].date | date: "%m/%d/%y" }}</time>
    </span>
    </legend>
    {{ comment[1].message | markdownify }}
    
    <div class="comment-reply">
    <a class="normal" onclick="">
    <i class="fa fa-reply" aria-hidden="true"></i> Reply to {{ comment[1].name }}</a>
    </div>
    
  {% endfor %}
{% endif %}
