<table class="help-table" id="formatting-help">
<tr>
<th>Markup</th>
<th>Displayed As</th>
</tr>
    
<tr>
<td>*italics*</td>
<td><em>italics</em></td>
</tr>
  
<tr>
<td>**bold**</td>
<td><strong>bold</strong></td>
</tr>

<tr>
<td>~~strikethrough~~</td>
<td><s>strikethrough</s></td>
</tr>

<tr>
<td>* List</td>
<td>&#8226; List</td>
</tr>

<tr>
<td>\*escape formatting\*</td>
<td>*escape formatting*</td>
</tr>

<tr>
<td>[hyperlink](https://pyreking.github.io)
<br>
&#60;https://pyreking.github.io&#62;
</td>

<td><a href="https://pyreking.github.io">hyperlink</a>
<br>
<a href="https://pyreking.github.io">https://pyreking.github.io</a>
</td>
</tr>

<tr>
<td>> quote</td>
<td><blockquote class="example">quote</blockquote></td>
</tr>

<tr>
<td># Heading 1 #
<br>## Heading 2 ##
<br>### Heading 3 ###</td>

<td>
<span style="font-weight:bold;font-size:x-large;">Heading 1</span>
<br>
<span style="font-weight:bold;font-size:normal;">Heading 2</span>
<br>
<span style="font-weight:bold;font-size:small;">Heading 3</span>
</td>
</tr>

<tr>
<td>`code sample`</td>
<td><code>code sample</code></td>
</tr>
</table>
