<table class="help-table" id="formatting-help">
<tr>
<th>Markup</th>
<th>Displayed As</th>
</tr>
    
<tr>
<td>*italics*</td>
<td><em>italics</em></td>
</tr>
  
<tr>
<td>**bold**</td>
<td><strong>bold</strong></td>
</tr>

<tr>
<td>~~strikethrough~~</td>
<td><s>strikethrough</s></td>
</tr>

<tr>
<td>* List</td>
<td>&#8226; List</td>
</tr>

<tr>
<td>> quote</td>
<td><blockquote class="example">quote</blockquote></td>
</tr>

<tr>
<td>`code sample`</td>
<td><code>code sample</code></td>
</tr>

<tr>
<td>\*escape formatting\*</td>
<td>*escape formatting*</td>
</tr>
</table>
