.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px dotted #848484;
    margin-left: -4px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }
