::selection {
    background-color: #352e7e;
    color: #fff;
}

::-moz-selection {
    background-color: #352e7e;
    color: #fff;
}

::-o-selection {
    background-color: #352e7e;
    color: #fff;
}

::-ms-selection {
    background-color: #352e7e;
    color: #fff;
}

::-webkit-selection {
    background-color: #352e7e;
    color: #fff;
}
