---
layout: default
title: Tags
permalink: /tags/
---
<h1>{{page.title}}</h1>

{% if site.tags.size == 0 %}
<p class="lead">There are no tags to display. <a href="{{ site.baseurl }}/">Head back home</a> to find something else.</p>
{% endif %}

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h2 id="{{ tag | escape }}">{{ tag }}</h2>
  <ul>
  {% for post in site.tags[tag] %}
    <li><a href="{{site.baseurl}}{{ post.url }}">
    <span class="archive-title">{{ post.title }}</span></a> 
    <span class="archive-date">{{ post.date | date: "%m/%d/%y" }}</span></li>
  {% endfor %}
  </ul>
{% endfor %}
