---
layout: default
title: Tags
permalink: /tags/
---
<h1>{{page.title}}</h1>

{% if site.tags.size == 0 %}
<p class="lead">There are no tags to display. :(<a href="{{ site.baseurl }}/">Go back to the home page</a>, or use the search feature to look for something else.</p>
{% endif %}

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h2 id="{{ tag | escape }}">{{ tag }}</h2>
  <ul>
  {% for post in site.tags[tag] %}
    <li class="no-bullets"><a href="{{site.baseurl}}{{ post.url }}">
    <h3>
    <span>{{ post.title }}</span></a></h3>
    <span><time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | ordinal }}</time></span></li>
  {% endfor %}
  </ul>
{% endfor %}
