---
layout: default
---
<!-- Title and date -->
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | ordinal }}</time>

<!-- Tags -->
<span class="post-tags">
  {% if page.tags.size > 0 %}
    <a class="tag-style" href="{{ site.url }}/tags/" title="tags">
    <svg class="icon-tags" style="vertical-align: -4px;"><use xlink:href="/images/icons/symbol-defs.svg#icon-tags"></use></svg></a>
    {% include get_tags.html tags=page.tags %}
    {% endif %}
</span>

<!-- Body of post -->
{{ content }}

<!-- Related posts -->
{% if site.related_posts != empty %}
<aside class="related">
  <h2>You may also enjoy…</h2>
  
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
	<h3>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m/%d/%y" }}</time></small>
	</h3>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

<!-- About the author-->
{% include about_author.html %}

{% if page.comments == true %}

{% if site.data.comments[page.slug].size > 0 %}
{% include display_comments.html %}
{% else %}
{% include submit_comment.html %}
{% endif %}

{% else %}
<p class="important" style="padding-top: 1rem;">Comments have been disabled for this post.</p>
{% endif %}
